<ion-header>
  <ion-toolbar>
    <ion-title>
      Shopping List
    </ion-title>
    <ion-buttons slot="secondary">
      <!-- <button ion-button (click)="shareShoppingList()">
        Share
      </button> -->
      <ion-button (click)="shoppingListService.clear()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list #shoppingList>
    <ion-item-sliding #slidingItem *ngFor="let item of shoppingListService.get()">
      <ion-item>
          <ion-checkbox slot="start" color="dark" [(ngModel)]="item.isComplete"></ion-checkbox>
          <ion-label [ngClass]="{'item-complete': item.isComplete, 'item-favourite': item.isFavourite}">{{ item.name }}</ion-label>
          <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item-options>
        <ion-button *ngIf="item.isFavourite" (click)="removeFavourite(item, slidingItem)">
            <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-button>
        <ion-button *ngIf="!item.isFavourite" (click)="addFavourite(item, slidingItem)">
            <ion-icon slot="icon-only" name="star-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="shoppingListService.remove(item)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-item *ngIf="favouritesFiltered?.length > 0">
    <ion-list >
      <ion-item *ngFor="let fav of favouritesFiltered" (click)="addItem(fav)">
          {{fav.name}}
      </ion-item>
    </ion-list>
  </ion-item>
  <ion-item>
    <ion-searchbar [(ngModel)]="newItem.name" (ionInput)="getFavourites($event)" [placeholder]="'Shopping item'" [type]="'text'"></ion-searchbar>
    <ion-button item-end (click)="addItem(newItem)">Add</ion-button>
  </ion-item>
</ion-footer>